@page "/counter"

<PageTitle>Counter</PageTitle>

<p role="status">Current count: @currentCount</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<CascadingValue Name="Counter" Value="@currentCount">
    <CascadingValue Name="TitleColor" Value="@("blue")"  IsFixed="true">
        <Component1></Component1>
    </CascadingValue>
</CascadingValue>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
